{{outlet}}


<div class="btn-group pvm" >
  {{#link-to 'contacts' (query-params status="all" page=1 query='') class='btn btn-default'}}All{{/link-to}}
  {{#link-to 'contacts' (query-params status="" page=1) class='btn btn-default'}}Open{{/link-to}}
  {{#link-to 'contacts' (query-params status="call_back" page=1) class='btn btn-default'}}Call Back{{/link-to}}
  {{#link-to 'contacts' (query-params timezone="PST" page=1) class='btn btn-default'}}Pacific Time{{/link-to}}
  {{#link-to 'contacts' (query-params timezone="MST" page=1) class='btn btn-default'}}Mountain Time{{/link-to}}
  {{#link-to 'contacts' (query-params timezone="CST" page=1) class='btn btn-default'}}Central Time{{/link-to}}
  {{#link-to 'contacts' (query-params timezone="EST" page=1) class='btn btn-default'}}Eastern Time{{/link-to}}
  {{#link-to 'contacts' (query-params timezone="" page=1) class='btn btn-default'}}Any TZ{{/link-to}}
</div>

<div class="row mtm">
    <div class="col-xs-12">
        (Page {{page}} of {{total_pages}} pages, viewing {{model.length}})<br>
      {{pagination-links currentPage=page totalPages=total_pages}}
    </div>
</div>


<div class="row">
    <div class="col-xs-12">
        <table class="table table-condensed table-hover">
            <colgroup>
                <col span="1" style="width: 50px;">
                <col span="1" style="width: 150px;">
                <col span="1" style="width: 225px;">
                <col span="1" style="width: auto;">
                <col span="1" style="width: 100px;">
            </colgroup>
            <thead>
            <tr>
                <th>ID</th>
                <th>Contact</th>
                <th>City/State</th>
                <th>Notes</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            {{#each contact in model}}
                <tr>
                    <td>{{contact.id}}</td>
                    <td>
                        {{link-to contact.name 'contacts.show' contact}}
                    </td>
                    <td>{{contact.formattedCityState}}</td>
                    <td>
                        <div class="row">
                            <div class="col-lg-3">{{contact.lastAddedNote.createdAt}}</div>
                            <div class="col-lg-9">{{contact.lastAddedNote.notes}}</div>
                        </div>
                    </td>
                    <td>{{contact.status}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</div>



