{{outlet}}


<div class="btn-group pvm" >
  {{#link-to 'contacts' (query-params status="all" page=1 query='') class='btn btn-default'}}All{{/link-to}}
  {{#link-to 'contacts' (query-params status="" page=1) class='btn btn-default'}}Open{{/link-to}}
  {{#link-to 'contacts' (query-params status="call_back" page=1) class='btn btn-default'}}Call Back{{/link-to}}
</div>

<div class="row mtm" style="margin-top: 10px;">
    <div class="col-xs-12">
        (Page {{page}} of {{total_pages}} pages, viewing {{model.length}})<br>
      {{pagination-links currentPage=page totalPages=total_pages}}
    </div>
</div>


<div class="row">
    <div class="col-xs-12">
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Contact</th>
                <th>Notes</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            {{#each contact in model}}
                <tr>
                    <td>{{contact.id}}</td>
                    <td>
                      {{link-to contact.name 'contacts.show' contact}}
                    </td>
                    <td></td>
                    <td>{{contact.status}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</div>



