<div id="ajax-modal" class="modal show" tabindex="-1">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-body">
                <!--modal body start-->
                <div class="row mbl">
                    <div class="col-xs-12">
                        {{#if isNexting}}
                            <div class="row">
                                <div class="col-xs-12 col-sm-4">
                                    {{#link-to 'contacts' (query-params status="" page=1 query='') class='btn btn-default'}}
                                        Close
                                    {{/link-to}}
                                </div>
                                <div class="col-xs-12 col-sm-8 text-right">
                                    <button type="button"  {{action "getNext" model 'Left Message'}}
                                            class="btn btn-success">
                                        Left Message
                                    </button>
                                    <button type="button"  {{action "getNext" model 'Do Not Call'}}
                                            class="btn btn-danger">
                                        Do Not Call
                                    </button>
                                    <button type="button"  {{action "getNext" model 'Call Back'}}
                                            class="btn btn-info">
                                        Call Back
                                    </button>
                                    <button type="button"  {{action "getNext" model 'Wrong Number'}}
                                            class="btn btn-warning">
                                        Wrong Number
                                    </button>
                                    <button type="button"  {{action "getNext" model 'Success'}}
                                            class="btn btn-success">
                                        Success
                                    </button>
                                </div>
                            </div>
                        {{else}}
                            <button {{action "nextClick"}} class="btn btn-success">Next</button>
                        {{/if}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-xs-12 col-sm-4">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-5"><span class="lead">{{name}}</span></div>
                                            <div class="col-xs-7">
                                                <a class="btn btn-success"
                                                   target="_blank" {{bind-attr href="phoneLink"}}">
                                                Call: {{number-to-phone phone}}
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <ul class="list-unstyled">
                                            <li>
                                                Status: {{inline-dropdown value=status model=model options=controller.statusOptions attribute="status"}}
                                            </li>
                                            {{#each property in formattedProperties}}
                                                <li>{{property.key}}: {{property.value}}</li>
                                            {{/each}}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4">
                                <div class="panel panel-default">
                                    <div class="panel-heading">Existing Contacts:</div>
                                    <div class="panel-body">
                                        <ul class="list-group">
                                            {{#each externalContact in externalContacts}}
                                                <li class="list-group-item">{{externalContact.name}} {{external-more contact=externalContact}}</li>
                                            {{/each}}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4">
                                <div class="panel panel-default">
                                    <div class="panel-heading">New Note</div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-xs-12 mbs">
                                                <form {{action "newAdminNote" on="submit"}}>
                                                    <div class="form-group">
                                                        {{textarea value=newNoteBody id='body' class="form-control" placeholder="New Note" rows=4}}
                                                    </div>
                                                    <div class="form-group">
                                                        <button class="btn btn-primary btn-block col-xs-6"
                                                                type="submit">Add Note
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    {{#if sortedActivities}}
                                        <ul class="list-group">
                                            <li class="list-group-item disabled">Admin Notes</li>
                                            {{#each sortedActivities}}
                                                <li class="list-group-item">
                                                    <strong>{{userName}}</strong> {{createdAt}} {{notes}}</li>
                                            {{/each}}
                                        </ul>
                                    {{/if}}
                                </div>


                            </div>
                        </div>
                    </div>
                </div>

                <!--end the modal body-->
            </div>
        </div>
    </div>
</div>