<p id="notice"><%= notice %></p>

<p>
  <strong>Contact:</strong>
  <%= @activity.contact_id %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @activity.notes %>
</p>

<%= link_to 'Edit', edit_activity_path(@activity) %> |
<%= link_to 'Back', activities_path %>
